html{
    background-color:rgb(173, 143, 255) ;
    padding-top:  30.56234718826406vh;
}


.forms{
    text-align: center;
    font-size: 3.056234718826406vh;
    background-color: cadetblue;
    width: "auto";
    
    

}






